body{
    background-image: url("images/bg.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    text-align: center;
    background-color: #7ed63b;
    margin-top: 5%;
}
.wrapper2{
    text-align: center;
    background-color: #22b62a;
}

#BFDI1-5 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

#bfdi {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
    z-index: 1;
}

#bfdia {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
    z-index: 1;
}

#idfb {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
    z-index: 1;
}

#bfb {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
    z-index: 1;
}

#tpot {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
    z-index: 1;
}

#cod {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height:300px;
    width:300px;
    margin-left: 560px;
}

#kino {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#five {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#arcade {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#team {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#psn {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}
#minecraft {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height:300px;
    width:300px;
    margin-left: 560px;
}

#minecraft1 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#minecraft2 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#minecraft3 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#minecraft4 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#random {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 560px;
}

#kahoot {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#dojo {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#subs {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#bfmd {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}


#bfmd2 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#wabre {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#subs2 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#zgod {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#wabre2 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#mlp2 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#fnf {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height:300px;
    width:300px;
    margin-left: 560px;
}

#fnf1 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#fnf2 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#fnf3 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

#fnf4 {
    width: 200px;
    height: 140px;
    border-style: solid;
    border-width: 7px;
}

h1 {
    text-align: center;
    z-index: 1;
}

.showTitle {
    font-size:100px;
    font-weight: bold;
    color:white;
    z-index: 1;
}

.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display:flex;
    border-radius: var(--radius);
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: var(--transition);
     z-index: 1;

}

.switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: rgb(60, 79, 255);
     z-index: 1;

}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(35, 167, 23);
    border-radius: 7px;
    margin: 0;
    display: block;
    transition: var(--transition);
    z-index: 1;

}
.cont::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 0;
}

.w3-top {
    z-index: 2;
}

.slide .switch {
    left: 50%;
     z-index: 1;
}


p {
    text-align: center;
    z-index: 1;
}

ol {
    margin: auto;
    list-style-position: outside;
    text-align: left;
    width: 300px;
    z-index: 1;
}

li {
    text-align: center;
    margin-left: 0;
    z-index: 1;
}

#socialmedia {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: end;
}

#social1 {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 7px;
    border-radius: 7px;
}

#social2 {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 7px;
    border-radius: 7px;
}

#social3 {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 7px;
    border-radius: 7px;
}

.cont {
    position: relative;
    height:50vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.video {
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

a:link {
    color:#2920DF;
    text-decoration: none;
    border-color:#2920DF;
}

a:visited {
    color:#1d7101;
    text-decoration: none;
    border-color:#1d7101;
}

a:hover {
    color:red;
    text-decoration: underline;
    border-color:red;

}

a:active {
    color:orange;
    text-decoration: none;
    border-color:orange;
}